// app global css in SCSS form
// @import '_fonts.scss';
@import 'c-btn.scss';

.bg-dark-light {
  background: $dark-light;
}

.bg-dark-grey {
  background: $dark-grey;
}
button,
textarea,
input,
select,
a,
iframe,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.text {
  &-h1 {
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
    font-weight: 500;
    margin: 16px 0;
  }
  &-h2 {
    font-size: 22px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    margin: 8px 0;
  }
}

.auth__form,
.add-game__form {
  .upload-btn {
    border-radius: 14px !important;
    padding: 8px 64px !important;
  }
  .q-field--standout.q-field--rounded .q-field__control {
    border-radius: 14px !important;
  }
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__native,
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__prefix,
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__suffix,
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__prepend,
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__append,
  .q-field--standout.q-field--dark.q-field--highlighted .q-field__input {
    color: $white;
  }
  .q-chip {
    border: solid 2px $primary !important;
    &--outline {
      border-width: 2px !important;
      border-color: #343434 !important;
    }
  }
  .text-h1 {
    font-weight: 300;
  }
}

.extra-rounded-borders {
  border-radius: 20px !important;
}

@-webkit-keyframes dynamicGradient {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@-moz-keyframes dynamicGradient {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@keyframes dynamicGradient {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  background: linear-gradient(45deg, transparent, transparent 40%, #6000ff);
  animation: gradientLoader 2s linear infinite;

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: $dark;
    border-radius: 50% !important;
    z-index: 1000;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #6000ff);
    border-radius: 50% !important;
    z-index: 1;
    filter: blur(30px);
  }
}
@keyframes gradientLoader {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(20deg);
  }
}
